<h1>Users</h1>
<table>
    <tr>
        <th>avatar</th>
        <th>username</th>
        <th>id</th>
    </tr>
    {{#each users}}
    <tr>
        <td><img src="{{avatar}}" /></td>
        <td>{{displayName}}</td>
        <td>{{encodedId}}</td>
    </tr>
    {{/each}}
</table>